<div *ngIf="type == 'movie'; then movieDetails else tvSeriesDetails"></div>
<ng-template #tvSeriesDetails>
    <ng-container *ngFor="let i of tvShows">
        <div *ngIf="i.poster_path" id="{{i.id}}" class="section2__tvBlock" (click)="goToTvSeriesDetails(i.id)"
            style="background-image: url({{imgSrc}}{{i.poster_path}})">
            <div class="tvBlock__info">
                <div class="tvBlock__name">
                    {{i.name || i.title}}
                </div>
                <div *ngIf="isNumber(i.vote_average) && i.vote_average !== 0" class="tvBlock__rate">
                    {{ i.vote_average | round: 1 }}
                </div>
            </div>
        </div>
    </ng-container>

</ng-template>
<ng-template #movieDetails>
    <ng-container *ngFor="let i of tvShows">
        <div *ngIf="i.poster_path" id="{{i.id}}" class="section2__tvBlock" (click)="goToMovieDetails(i.id)"
            style="background-image: url({{imgSrc}}{{i.poster_path}})">
            <div class="tvBlock__info">
                <div class="tvBlock__name">
                    {{i.name || i.title}}
                </div>
                <div *ngIf="isNumber(i.vote_average) && i.vote_average !== 0" class="tvBlock__rate">
                    {{ i.vote_average | round: 1 }}
                </div>
            </div>
        </div>
    </ng-container>

</ng-template>