<section class="section1 section">
    <div *ngIf="arr" class="section1__showBlock" style="background-image: url({{imgSrc}}{{arr.backdrop_path}})">
        <div class="container-fluid">
            <div class="section1__content">
                <div class="section1__filmInfo">
                    <div class="filmInfo__title">
                        <img src="../../../assets/images/icons/Netflix_Symbol_RGB 1.svg" alt="N">
                        <h1>{{arr.name}}</h1>
                    </div>
                    <div class="filmInfo__overview">
                        <p>{{arr.overview}}</p>
                    </div>
                    <div class="filmInfo__status">
                        <p>Status: {{arr.status}}</p>
                    </div>
                    <div class="filmInfo__seasons">
                        <p>Seasons: {{arr.number_of_seasons}}</p>
                    </div>
                    <div *ngIf="arr.vote_average != 0" class="filmInfo__rating">
                        <p>IMDB rating: {{arr.vote_average | round: 1}}</p>
                    </div>
                    <div class="filmInfo__authors" *ngIf="arr.created_by[0]">
                        <p>Creators:</p>
                        <div class="filmInfo__authorsList">
                            <div *ngFor="let i of arr.created_by">
                                <p>{{i.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>