.circle{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
}
.circle1{
    top: -25px;
    left: 240px;
}
.circle2{
    top: 200px;
    left: 100px;
    width: 150px;
    height: 150px;
}
.circle3{
    background-color: #000;
    top: 160px;
    right: 250px;
}
.circle4{
    top: 400px;
    right: 100px;
}
.circle5{
    background-color: #000;
    top: 40px;
    right: 350px;
    width: 20px;
    height: 20px;
}
.circle6{
    background-color: #000;
    top: 60px;
    right: 325px;
    width: 15px;
    height: 15px;
}
.circle7{
    top: 60px;
    right: 50px;
    width: 60px;
    height: 60px;
}